drc_run_*
lvs_run_*
*.vcd
*.raw
*.log
*.pyc
*.ext
.DS_Store
__pycache__/
runs/
backups/
sim_build/
/doc/ihp-structure-proposals/gen_structure.py
/flow/artistic
/flow/final
/schematic/xschem/simulations
/testbenches/xschem/simulations
/macros/*/verification/cace/_runs
/macros/*/verification/cace/_docs
/macros/*/verification/cace/netlist
/macros/*/verification/cace/templates/simulations
/macros/*/schematic/xschem/simulations
/macros/*/testbenches/xschem/simulations
/macros/*/flow/final
/.llm/
